body {
	background: #FFE6D2;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: Salmon; }

header, nav, main, footer {
	width: 60%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #FFE6D2;
	color: LightOrange;
	min-height: 10px;
	margin-top: 10px;
}

header h1 {
	padding: 80px 100px;
	font-family: 'Abril Fatface', cursive;
}


/* Nav styles */
nav { background-color: #FFE6D2; }
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; }
nav a { color: Black; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color: #FFE6D2;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #FFE6D2;
	color: Lightorange;
	text-align: center;
 }
 footer p { padding: 20px; }
